{% extends "accounts/base.html" %}
{% load static %}
{% block form %}
<div
  class="container-login100"
  style="background-image: url('{% static 'images/bg-01.jpg' %}')"
>
  <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
    <form id="changePasswordForm" class="login100-form validate-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <span class="login100-form-title p-b-49">Change Password</span>

      <!-- Old Password -->
      <div
        class="wrap-input100 validate-input m-b-23"
        data-validate="Old password is required"
      >
        <span class="label-input100">Old Password</span>
        <input
          class="input100"
          type="password"
          name="old_password"
          placeholder="Type your old password"
          required
        />
        <span class="focus-input100" data-symbol="&#xf190;"></span>
      </div>

      <!-- New Password -->
      <div
        class="wrap-input100 validate-input m-b-23"
        data-validate="New password is required"
      >
        <span class="label-input100">New Password</span>
        <input
          class="input100"
          type="password"
          name="new_password"
          placeholder="Type your new password"
          required
        />
        <span class="focus-input100" data-symbol="&#xf190;"></span>
      </div>

      <!-- Confirm New Password -->
      <div
        class="wrap-input100 validate-input m-b-23"
        data-validate="Confirm new password is required"
      >
        <span class="label-input100">Confirm New Password</span>
        <input
          class="input100"
          type="password"
          name="confirm_password"
          placeholder="Confirm your new password"
          required
        />
        <span class="focus-input100" data-symbol="&#xf190;"></span>
      </div>

      <div id="message" class="message"></div>

      <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button class="login100-form-btn" type="submit">Change Password</button>
        </div>
      </div>

      <div class="flex-col-c p-t-155">
        <span class="txt1 p-b-17">Want to go back?</span>
        <a href="{% url 'login' %}" class="txt2">Login</a>
      </div>
    </form>
  </div>
</div>


<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>

<script> 
  document.getElementById("changePasswordForm").addEventListener("submit", async function(e) {
    e.preventDefault();

    const form = e.target;
    const formData = new FormData(form);
    const old_password = formData.get("old_password");
    const new_password = formData.get("new_password");
    const confirm_password = formData.get("confirm_password");

    //http://127.0.0.1:8000/auth/change-password/{uid}/{token}/
    const pathParts = window.location.pathname.split("/");
    console.log(pathParts);
    const uid = pathParts[3];
    const token = pathParts[4];

    if(!uid || !token) {
      document.getElementById("message").innerHTML = "Invalid URL";
      return;
    }
    

    try {
      const response = await fetch("{% url 'change-password-api'%}", {
        method: "POST",
        body: JSON.stringify({
          "uid": uid,
          "old_password": old_password,
          "new_password": new_password,
          "confirm_password": confirm_password,
        }),
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",
        },
      });

      const data = await response.json();

      if (data.error) {
        document.getElementById("message").innerHTML = data.error;
      } else {
        document.getElementById("message").innerHTML = data.message;
        form.reset();
      }
    } catch (error) {
      console.error("An error occurred:", error);
    }
  });
</script>





{% endblock form%}